.side-box{
  background-color: rgb(248, 210, 248);
  width: 200px;
  height: 628px;
  margin-left: 0px;
  position: fixed;
}
ul{
  list-style: none;
}
.listItem{
  line-height: 70px;
}
.container-box{
  display: flex;
}
.child{
  margin-left: 200px;
  margin-top: 50px;
}