.container{
  width:400px;
  height: 500px;
  margin-top: 70PX;
  border: 1px solid grey;
  box-shadow: 10px 10px 10px grey;
  border-radius: 5px;
  background-color: rgb(251, 253, 253);
}
body{
background-image: linear-gradient(rgb(208, 171, 211),rgb(194, 194, 175));
}
.error{
  margin-left: 20px;
  color: red;
}

label{
  margin-top: 1px;
  margin-left: 20px;
}
input{
  margin-left: 20px;
}
.btn{
  margin-top: 20px;
  background-color: blue;
  margin-left: 20px;
  color: aliceblue;
  width: 100px;
}
.heading{
  text-align: center;
  color: brown;
  margin-top: 3px;
}