/* .form{
  width: 517px;
  border-radius: 30px;
  margin: 50px auto;
  height: 550px;
  color: white;
  padding: 10px 38px;
  background-color: rgb(73, 56, 89);
  border: 1px solid black;
  box-shadow: 5px 5px 9px 7px white;
}
body{
  background-color: rgb(27, 27, 44);
  color: white;
}

.pr{
  padding-right: 300px;
} */
